.sharing {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sharing__item {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url(/Share/prod/img/icons.svg);
  background-size: 1300% 100%;
  background-position-y: 0;
}
.sharing__item_facebook {
  background-position-x: -64px;
}
.sharing__item_twitter {
  background-position-x: -32px;
}
.sharing__item_reddit {
  background-position-x: -384px;
}
.sharing__item_google {
  background-position-x: -160px;
}
.sharing__item_telegram {
  background-position-x: -256px;
}
.sharing__item_whatsapp {
  background-position-x: -320px;
}
.sharing__item_fbmessenger {
  background-position-x: -352px;
}
